/* Add screen styles below */
a.active {
    font-weight: bold;
}

.modal {
    background: #F77F00;
}

.modal-header {
    background: #003049;
}

#OrderModalLabel {
    color: #F77F00;
    text-align: center;
}

.modal-body {
    background: #EAE2B7;
}

.modal-footer {
    background: #003049;
}

.img-fluid {
    padding: 15px;
}