/* Add screen styles below */
a.active {
    font-weight: bold;
}

.modal {
    background: #003049;
}

#OrderModalLabel {
    background: #003049;
}

.modal-body {
    color: #003049;
    background: #EAE2B7;
}